<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<security:http realm="Protected API" use-expressions="true"
		entry-point-ref="servicesForbiddenEntryPoint">

		<security:intercept-url pattern="/services/authenticate"
			access="permitAll" />
		<security:intercept-url method="GET"
			pattern="/services/users/**" access="isAuthenticated()" />
		<security:intercept-url method="POST"
			pattern="/services/users/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/services/users/**"
			access="hasRole('ROLE_ADMINISTRATOR')" />
		<security:intercept-url pattern="/services/**"
			access="isAuthenticated()" />

		<security:form-login login-processing-url="/services/authenticate"
			username-parameter="username" password-parameter="password"
			always-use-default-target="false" />
		<security:logout logout-url="/services/authenticate/logout"
			logout-success-url="/" />

	</security:http>

	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="userService">
			<security:password-encoder ref="passwordEncoder"></security:password-encoder>
		</security:authentication-provider>
	</security:authentication-manager>

</beans>