<style>
.table td {
	text-align: center;
}
</style>

<header>
	<h1>Users</h1>
	<hr />
</header>

<section>

	<p>
		<a href="#/users/form" class="btn btn-primary pull-right"> <span
			class="glyphicon glyphicon-plus"></span> New User
		</a>
	</p>

	<br /> <br />
	<table class="table table-striped" ng-table="tableParams">
		<tr ng-repeat="user in $data">

			<td data-title="'Nome'" sortable="'name'">{{user.name}}</td>
			<td data-title="'Login'" sortable="'username'">{{user.username}}</td>
			<td data-title="'Perfil'" sortable="'profile'">{{user.profile}}</td>
			<td data-title="'Ações'"><a href="#/users/form/{{user.id}}"
				class="btn btn-link" data-toggle="tooltip" data-placement="top"
				title="Editar"> <span class="glyphicon glyphicon-pencil"></span>
			</a></td>
			<td data-title="''"><input type="checkbox" name="users[]"
				value="{{user.username}}"
				ng-checked="selectedUsers.indexOf(user.username) > -1"
				ng-click="toggleSelection(user.username)" /></td>
		</tr>
	</table>
	<p>
		<a href="" ng-click="deleteUsers()" class="btn btn-danger pull-right">
			<span class="glyphicon glyphicon-minus"></span> Delete users
		</a>
	</p>
</section>